body {
  color: #333;
  background-color: #eee;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

body.modal-open main {
  filter: blur(3px);
}

a:visited, a:link {
  color: navy;
}

header {
  overflow: auto;
}

header > h1 {
  margin: 0;
}

header > p {
  float: right;
  margin: 0;
}

form label {
  display: block;
  overflow: auto;
}

form input[type=number] {
  float: right;
  position: relative;
}

#result {
  /* Hide until a result has been loaded into it */
  display: none;  
  overflow: auto;
}

#result > pre {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: small;
  padding: 1rem;
  line-height: 1.375;
  overflow: auto;
}

#result.bonw,
#result.wonb {
  display: block;
}

#result.bonw > pre {
  background-color: white;
  color: black;
}

#result > input#copy-to-clip {
  margin: 1rem auto 0 auto;
  display: block;
}

footer {
  padding: 0 1em;
  text-align: center;
  font-size: smaller;
}

aside {
  /* https://css-tricks.com/considerations-styling-modal/ */
  position: fixed;
  width: 90%;
  max-height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: #eee;
  box-shadow: 0px 0px 8px black;
  overflow: scroll;
}

aside.closed {
  display: none;
}

aside #modal-close {
  position: fixed;
  right: 1rem;
  top: 1rem;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 1rem;
  color: white;
  background-color: black;
  cursor: pointer;
}

#modal-open {
  display: block;
  margin: 1em 0;
}

@media screen and (min-width: 640px) {
  form, #result {
    float: left;
  }
  #result {
    margin-left: 1rem;
  }
}